.qanda {
  > .date {
    margin-top: 20px;
    text-align: left;
    > span {
      padding: 5px 10px;
      margin: 10px;
      background: #994242;
      color: white;
      border-radius: 14px;
      font-size: 0.7rem;
    }
  }
  > img {
    margin-top: 10px;
    max-width: 100%;
  }
}
