.qanda {
  text-align: left;
  background: white;
  padding: 10px 0;
  > img {
    margin-top: 10px;
    max-width: 100%;
  }
}

.date {
  > span {
    padding: 5px 10px;
    margin: 10px;
    background: #994242;
    color: white;
    border-radius: 14px;
    font-size: 0.7rem;
  }
}

.profile {
  display: flex;
  text-align: left;
  margin: 10px;
  align-items: center;
  > img {
    width: 40px;
    max-width: 10vw;
    border-radius: 50%;
  }
  > span {
    margin-left: 10px;
    color: #994242;
    font-weight: bolder;
  }
}

.answer {
  margin: 10px;
  font-size: 1.2rem;
}

.goBackButton {
  display: block;
  text-align: center;
  margin: 20px;
  > button {
    margin: 0 auto;
    border: 2px solid #994242;
    font-size: 1rem;
    border-radius: 200px;
    padding: 5px 10px;
    background: white;
  }
}
